# String

Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

String in single quotes cannot hold any other single quoted character in it otherwise an error arises because the compiler wonâ€™t recognize where to start and end the string. To overcome this error, use of double quotes is preferred, because it helps in creation of Strings with single quotes in them. For strings which contain Double quoted words in them, use of triple quotes is suggested. Along with this, triple quotes also allow the creation of multiline strings.

In [1]:
string0 ='Welcome to first class of python'
string1 ="Welcome to first class of python"
string2 = """Welcome to first
class
of
python"""
string3="This is first\nclass\nof\npython"
string4='He said,"How are you?"'   #Try single quotes inside single quotes
string5="He said,'How are you?'"   #Try double quotes inside double quotes
print(string0)
print(string1)
print(string2)
print(string3)
print(string4)
print(string5)

Welcome to first class of python
Welcome to first class of python
Welcome to first
class
of
python
This is first
class
of
python
He said,"How are you?"
He said,'How are you?'

## Input and output

Taking input, storing it in a variable of type string and giving string output

In [2]:
name = input("What is your name?")
print("Hello, " + name)
print("How are you,",name+"?")

What is your name?Python
Hello, Python
How are you, Python?

## String formatting

In [3]:
greeting="Hello"
name="Adam"

message="{}, {}".format(greeting,name)

print(message)

Hello, Adam

## Indexing and slicing

In python, indexing starts from 0

Indexing and slicing are same as discussed in lists

In [4]:
name ="asdfghj"
print(name[0])        #Char at index 0
print(name[0:4])      #Substring from index 0 to 3
print(name[2:])       #Substring from index 2 to end of string
print(name[:3])       #Substring from start to index 2 
print(name[:])        #Substring from start to end
print(name[2:5:2])    #Characters from index 2 to 4 in steps of 2

a
asdf
dfghj
asd
asdfghj
dg

## Built-in functions

**len()** function is an inbuilt function in Python programming language that returns the length of the string. 

**find( )** function returns the index value of the given data that is to found in the string. If it is not found it returns -1. One can also input find( ) function between which index values it has to search.

**index( )** works the same way as find( ) function the only difference is find returns '-1' when the input element is not found in the string but index( ) function throws a ValueError

In [5]:
print(len(name))

print(name.find("df"))      #First index where "dy" is found
print(name.find("ty"))      #Returns -1 if not found
print(name.find("df",2,5))  #finds string from index 2 to 4
print(name.find("df",4,6))

print(name.index('df'))
print(name.index('ty'))     #error

7
2
-1
2
-1
2

ValueError: ignored

**capitalize( )** is used to capitalize the first element in the string.

**lower( )** converts any capital letter to small letter.

**upper( )** converts any small letter to capital letter.

**endswith( )** function is used to check if the given string ends with the particular character(s) which is given as input.

**count( )** function counts the number of char in the given string. The start and the stop index can also be specified or left blank. (These are Implicit arguments which will be dealt in functions)

In [6]:
print(name.capitalize())
print(name.lower())
print(name.upper())
print(name)

print(name.endswith('j'))
print(name.endswith('a'))

print(name.count('a',0,7))
print(name.count('a'))
print(name.count('b'))

Asdfghj
asdfghj
ASDFGHJ
asdfghj
True
False
1
1
0

**join( )** function is used to add a char in between the elements of the input string.

**replace( )** function replaces the element with another element.

In [7]:
print('AB'.join('python'))

a="Python is not so cool"
print(a.replace('Python','C'))

pAByABtABhABoABn
C is not so cool

## Print Statement

In [8]:
name = "abc"
lan = "python"

print(name,lan,'def',sep='/')

abc/python/def


# Functions

**Basic Syntax**

def function_name(parameters):<br>
 >     """docstring"""        (optional) 
      statement(s)
      return statement (optional)

 **Syntax of return statement**

    return [expression_list]

In [9]:
# without parameters
def func():
    print('Hello')
func()

Hello

In [10]:
# with parameters
def purchase(egg_count):
  print(egg_count)
purchase(10)

10

In [11]:
# with default parameters
def purchase(egg_count=10):
  print(egg_count)
purchase()
purchase(20)

#SyntaxError: non-default argument follows default argument(Uncomment and run following)
#def greet(msg = "Good morning!", name):
#  print(name,msg)

10
20

In [12]:
# with return statement
def purchase(egg_count=10):
  return 10 * egg_count
answer = purchase()
print(answer)
answer = purchase(15)
print(answer)

100
150

In [13]:
#keyword argument
def fib(n, m):
    print("n = " + str(n))
    print("m = " + str(m))

fib(5, 10)
print('\n')
fib(m=5, n=10)

n = 5
m = 10


n = 10
m = 5

## Recursion (factorial)

In [14]:
def factorial(num):
    if num == 1:      #base case
        return 1
    return num * factorial(num - 1)

print(factorial(5))

120

## args, kwargs

In [15]:
# variable no. of arguments (*args)
def func(*args):
    #args is tuple with the argument
    for i in args:
        print(i)
func('hello', 'to', 'python', 'class', 'for', 'first', 'years')

print()

def my_print(*args):
    for i in args:
        print(i)
        
my_print('hello', 'my', 'name', 'is', 'bin'+'bash')

hello
to
python
class
for
first
years

hello
my
name
is
binbash

In [16]:
# variable no. of arguments (**kwargs)
def func(**kwargs):
    for key, values in kwargs.items():
        print(key, values)
func(hello='to', python='class', year='first')

print()

def kw_args_func(**kwargs):
    for key, value in kwargs.items():
        print('key:', key, ' ', 'value:', value)
        
kw_args_func(sep='/', end='*', name='bin')

hello to
python class
year first

key: sep   value: /
key: end   value: *
key: name   value: bin

#Lambda Function

Syntax of Lambda Function in python

> ```lambda arguments: expression```

Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned. Lambda functions can be used wherever function objects are required.

We use lambda functions when we require a nameless function for a short period of time.

In Python, we generally use it as an argument to a higher-order function (a function that takes in other functions as arguments). Lambda functions are used along with built-in functions like filter(), map() etc.

In [17]:
# Program to show the use of lambda functions

double = lambda x: x * 2

# Output: 10
print(double(5))

10

In [18]:
# Program to filter out only the even items from a list

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

# Output: [4, 6, 8, 12]
print(new_list)

[4, 6, 8, 12]

In [19]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

# Output: [2, 10, 8, 12, 16, 22, 6, 24]
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]